.map{
    position: absolute;
    width: 1070px;
    height: 625px;
    left: 850px;
    top: 251px;
}
.contact{
    position: absolute;
    width: 609px;
    height: 286px;
    left: 185px;
    top: 421px;
}
.contact h1{
    position: absolute;
    width: 603px;
    height: 87px;
    left: 25px;
    top: 10px;

    font-family: Zona Pro;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 85px;
    text-transform: uppercase;

    color: #000000;
}
.contact p{
    position: absolute;
    width: 606px;
    height: 137px;
    left: 25px;
    top: 160px;

    font-family: Montserrat;
    font-style: normal;
    font-size: 26px;
    line-height: 150%;
    /* or 39px */


    color: #000000;
}